*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Century Gothic;
    font-weight: bold;
  }

  body{
    background-color: rgb(8, 8, 8);
  }
  
  .inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-size: 4.5em;
    background: #040305;
    color: rgb(87,87,87);
    background-image: linear-gradient(rgba(30, 18, 4, 0.79), rgba(30, 17, 4, 0.79)), url("https://i.pinimg.com/564x/37/43/66/374366953f0a6266d02aaee62eb9711e.jpg");
  }
  
  .container{
    flex-direction: column;
  }
  
  .container span{
    animation: anos 3s ease-in-out infinite;
  }
  
  .container span{
    animation: dourados 3s ease-in-out infinite;
  }
  
  
  .container span:nth-of-type(2){
    animation-delay: 0.25s;
  }
  
  .container span:nth-of-type(3){
    animation-delay: 0.50s;
  }
  
  .container span:nth-of-type(4){
    animation-delay: 0.75s;
  }
  
  .container span:nth-of-type(5){
    animation-delay: 1s;
  }
  
  .container span:nth-of-type(6){
    animation-delay: 1.25s;
  }
  
  .container span:nth-of-type(7){
    animation-delay: 1.50s;
  }
  
  .container span:nth-of-type(8){
    animation-delay: 1.75s;
  }
  
  .container span:nth-of-type(9){
    animation-delay: 2s;
  }
  
  .container span:nth-of-type(10){
    animation-delay: 2.25s;
  }
  
  .container span:nth-of-type(11){
    animation-delay: 2.50s;
  }
  
  @keyframes anos{
    0%{
      color: #fff;
      text-shadow: 0 0 12px #c89d04, 
        0 0 50px #c89d04,
        0 0 100px #c89d04;
    }
    10%, 90%{
      color: rgb(87,87,87);
      text-shadow: none;
    }
  }
  
  @keyframes dourados{
    0%{
      color: #fff;
      text-shadow: 0 0 12px #c89d04, 
        0 0 50px #c89d04,
        0 0 100px #c89d04;
    }
    10%, 90%{
      color: rgb(87,87,87);
      text-shadow: none;
    }
  }
  


@media screen and (max-width: 850px){
  .container{
    flex-direction: column;
    font-size: 60px;
  }

  .inicio{
    display: flex;
    justify-content: center;
    align-items: center;
    /*min-height: 98vh;*/
    font-size: 5em;
    background: #040305;
    color: rgb(87,87,87);
    background-image: linear-gradient(rgba(30, 18, 4, 0.79), rgba(30, 17, 4, 0.79)), url("https://i.pinimg.com/564x/37/43/66/374366953f0a6266d02aaee62eb9711e.jpg");
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
  }
}

.main-movie {
  background-image: linear-gradient(rgba(63, 67, 60), rgba(63, 67, 70));
  border-radius:2px;
  padding:20px;
  margin-bottom:20px;
  overflow:hidden;
  font-size: 20px;
}

.main-movie .description {
  margin-top: 30px;
  margin-bottom: 40px;
  max-width: 100%;
  color:rgb(192, 200, 206);
}

#intro p{
  font-size: 20px;
}



/*PERÍODO HISTÓRICO*/
.periodo{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5em;
  color: rgb(236, 223, 223);;
}

.historia{
  color: rgb(236, 228, 228);
  font-family: 'Open Sans', sans-serif;
  font-size: 112.5%;
  line-height: 1.6em;
}

 p{
    margin: 0;
    font-size: 14px;
   z-index: 10;
  }

  .img1{
    width: 280px;
    height: 180px;
    margin: 1em 0.75em 0 0;
  }

  .img2{
    width: 280px;
    height: 170px;
  }

  .img3{
    width: 280px;
    height: 190px;
  }

  .img5{
    width: 280px;
    height: 190px;
  }

 .img6{
    width: 280px;
    height: 190px;
  }

  .img7{
    width: 300px;
    height: 190px;
  }

  .img8{
    width: 170px;
    height: 200px;
  }

  .img9{
   width: 350px;
   height: 190px;
  }

  .img10{
   width: 300px;
   height: 200px;
  }

  .img11{
   width: 290px;
   height: 200px;
  }

/* ================ The Timeline ================ */

.timeline {
  position: relative;
  width: 660px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 1em 0;
  list-style-type: none;
}

.timeline:before {
  position: absolute;
  left: 50%;
  top: 0;
  content: ' ';
  display: block;
  width: 6px;
  height: 100%;
  margin-left: -3px;
  background: rgb(194, 178, 178);
  background: -moz-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(30,87,153,1)), color-stop(100%,rgba(125,185,232,1)));
  background: -webkit-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -o-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: -ms-linear-gradient(top, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  background: linear-gradient(to bottom, rgba(80,80,80,0) 0%, rgb(80,80,80) 8%, rgb(80,80,80) 92%, rgba(80,80,80,0) 100%);
  
  z-index: 5;
}

.timeline li {
  padding: 1em 0;
}

.timeline li:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.direction-l {
  position: relative;
  width: 300px;
  float: left;
  text-align: right;
}

.direction-r {
  position: relative;
  width: 300px;
  float: right;
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
}

.flag {
  position: relative;
  display: inline;
  background: rgb(248,248,248);
  padding: 6px 10px;
  border-radius: 5px;
  color: black;
  font-weight: 600;
  text-align: left;
}

.direction-l .flag {
  -webkit-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: -1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-r .flag {
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15), 0 0 1px rgba(0,0,0,0.15);
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 50%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #746d6d;
  border-radius: 10px;
  border: 4px solid rgb(136, 2, 2);
  z-index: 10;
}

.direction-r .flag:before {
  left: -40px;
}

.direction-l .flag:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-left-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.direction-r .flag:after {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  height: 0;
  width: 0;
  margin-top: -8px;
  border: solid transparent;
  border-right-color: rgb(248,248,248);
  border-width: 8px;
  pointer-events: none;
}

.time-wrapper {
  display: inline;
  
  line-height: 1em;
  font-size: 0.66666em;
  color: rgb(136, 2, 2);
  vertical-align: middle;
}

.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}

.time {
  display: inline-block;
  padding: 4px 6px;
  background: rgb(69, 59, 59);
}

.desc {
  margin: 1em 0.75em 0 0;
  
  font-size: 0.77777em;
  font-style: italic;
  line-height: 1.5em;
}

.direction-r .desc {
  margin: 1em 0 0 0.75em;
}

/* ================ Timeline Media Queries ================ */

@media screen and (max-width: 1024px) {

.timeline {
 	width: 100%;
	padding: 4em 0 1em 0;
}

.timeline li {
	padding: 2em 0;
}

.direction-l,
.direction-r {
	float: none;
	width: 100%;

	text-align: center;
}

.flag-wrapper {
	text-align: center;
}

.flag {
	background: rgb(248,248,248);
	z-index: 15;
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: -30px;
	left: 50%;
	content: ' ';
	display: block;
	width: 12px;
	height: 12px;
	margin-left: -9px;
	background: #fff;
	border-radius: 10px;
	border: 4px solid rgb(136, 2, 2);
	z-index: 10;
}

.direction-l .flag:after,
.direction-r .flag:after {
	content: "";
	position: absolute;
	left: 50%;
	top: -8px;
	height: 0;
	width: 0;
	margin-left: -8px;
	border: solid transparent;
	border-bottom-color: rgb(255,255,255);
	border-width: 8px;
	pointer-events: none;
}

.time-wrapper {
	display: block;
	position: relative;
	margin: 4px 0 0 0;
	z-index: 14;
}

.direction-l .time-wrapper {
	float: none;
}

.direction-r .time-wrapper {
	float: none;
}


.desc {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: #d7d9ea;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	color: black;
  z-index: 15;
}
  
  .img1, .img2, .img3, .img4, .img5, .img6, .img7, .img8, .img9, .img10, .img11 {
	position: relative;
	margin: 1em 0 0 0;
	padding: 1em;
	background: #94959e;
	-webkit-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0 0 1px rgba(0,0,0,0.20);
	box-shadow: 0 0 1px rgba(0,0,0,0.20);
	color: black;
  z-index: 15;
}

.direction-l .desc,
.direction-r .desc {
	position: relative;
	margin: 1em 1em 0 1em;
	padding: 1em;
  z-index: 15;
}

}

/*BOTÃO*/
  
.neon-btn {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #c0900e;
  border: 8px solid #c0900e;
  padding: 16px 64px;
  border-radius: 16px;

  text-shadow: 0 0 8px rgba(255, 255, 255, 0.3), 0 0 29px #c0900e;

  position: relative;
}

.neon-btn::before {
  pointer-events: none;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #c0900e;
  left: 0;
  top: 120%;
  transform: perspective(64px) rotateX(40deg) scale(1, 0.35);
  filter: blur(64px);
  opacity: 0.7;
}

.neon-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #c0900e;
  box-shadow: 0 0 128px 32px #c0900e;
  z-index: -1;
  opacity: 0;
  transition: opacity 100ms linear;
}

.neon-btn:hover::after,
.neon-btn:focus::after {
  opacity: 1;
}

.neon-btn:hover::before,
.neon-btn:focus::before {
  opacity: 1;
}

.neon-btn:hover,
.neon-btn:focus {
  color: #202631;
  text-shadow: none;
}

  